# clade desktop config file: claude_desktop_config.json
# local test config
{
  "globalShortcut": "",
  "mcpServers": {
    "MCPxHub": {
      "command": "node",
      "args": [
        "/yourpath/bundle.js"
      ],
      "env": {
        "IDE_TYPE": "vscode"
      }
    }
  },
  "env": {
    "LOG_ENABLED": "true"
  }
}

# release config
{
  "globalShortcut": "",
  "mcpServers": {
    "MCPxHub": {
      "command": "npx",
      "args": [
        "-y",
        "@bugstan/mcpxhub"
      ],
      "env": {
        "IDE_TYPE": "jetbrains"
      }
    }
  },
  "env": {
    "LOG_ENABLED": "true"
  }
}